API_ID=12398605
API_HASH=0233c5b5cc8e6657d658cac2602cd630
BOT_TOKEN=8266347029:AAER6jwTnrlyQY_E6AGWVo3wuHf5yqIne-8
MONGO_DB_URI=mongodb+srv://vishalpandeynkp:Bal6Y6FZeQeoAoqV@cluster0.dzgwt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1003034048678
OWNER_ID=8255404254
STRING_SESSION=BQC9MA0Aa5AxSdpl39npla-RtbaRDcKqZaxfXKnsd9k7DGrJYfXqPNC4azCE8OIs3-mqrcOmEM1_LClbve5KY9KWmHQfG2xoQAKUGqor6QfCqImmNPPhkOc55AMjd-KimyXUutVi407ZxrVXA_QEmnu5VSEK_PrxcFy0pGkfNOgQOU-rnYS20AYU1qAvWtoCJvdeG3H7kNUXuEpyNiZuX3-tx3DjY8yexH_IFLGQkFWlVFlAvQVRBfFRuIgEF3eDQFt69yRlMpdv3Cbr2EGitMPVhsf9S_-0FksyUQrgwCyj8poD3NQjBq_a5z_D9HnpmjBMnPlju7w7LPoRc7EB-nx8OxiRAwAAAAHytSNNAA
